.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
elm/src
elm-stuff
dist
elm.json
component/src
yarn.lock
yarn-error.log
.cache/
